<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>KorisnikFilter</filter-name>
        <filter-class>filter.KorisnikFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdministratorFilter</filter-name>
        <filter-class>filter.AdministratorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdministratorFilter</filter-name>
        <url-pattern>/pregledSpajanja.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdministratorFilter</filter-name>
        <url-pattern>/pregledKupnjeSvi.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>KorisnikFilter</filter-name>
        <url-pattern>/pregledKupnje.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>PrijavaServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavaServlet</servlet-name>
        <servlet-class>controllers.PrijavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OdjavaServlet</servlet-name>
        <servlet-class>controllers.OdjavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProizvodServlet</servlet-name>
        <servlet-class>controllers.ProizvodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KategorijaServlet</servlet-name>
        <servlet-class>controllers.KategorijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KosaaricaDodajServlet</servlet-name>
        <servlet-class>controllers.KosaaricaDodajServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KosaricaMakniServlet</servlet-name>
        <servlet-class>controllers.KosaricaMakniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KosaricaMakniSveServlet</servlet-name>
        <servlet-class>controllers.KosaricaMakniSveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KosaricaServlet</servlet-name>
        <servlet-class>controllers.KosaricaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KosaricaUrediServlet</servlet-name>
        <servlet-class>controllers.KosaricaUrediServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>controllers.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KosaricaZavrsiKupnjuServlet</servlet-name>
        <servlet-class>controllers.KosaricaZavrsiKupnjuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledKupnjeServlet</servlet-name>
        <servlet-class>controllers.PregledKupnjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledKupnjeDetaljiServlet</servlet-name>
        <servlet-class>controllers.PregledKupnjeDetaljiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledKupnjeSviServlet</servlet-name>
        <servlet-class>controllers.PregledKupnjeSviServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikazSpajanjaServlet</servlet-name>
        <servlet-class>controllers.PrikazSpajanjaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controllers.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavaServlet</servlet-name>
        <url-pattern>/prijava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdjavaServlet</servlet-name>
        <url-pattern>/odjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProizvodServlet</servlet-name>
        <url-pattern>/Proizvod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KategorijaServlet</servlet-name>
        <url-pattern>/Kategorija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KosaaricaDodajServlet</servlet-name>
        <url-pattern>/KosaaricaDodaj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KosaricaMakniServlet</servlet-name>
        <url-pattern>/KosaricaMakni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KosaricaMakniSveServlet</servlet-name>
        <url-pattern>/KosaricaMakniSve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KosaricaServlet</servlet-name>
        <url-pattern>/Kosarica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KosaricaUrediServlet</servlet-name>
        <url-pattern>/KosaricaUredi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KosaricaZavrsiKupnjuServlet</servlet-name>
        <url-pattern>/KosaricaZavrsiKupnju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledKupnjeServlet</servlet-name>
        <url-pattern>/PregledKupnje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledKupnjeDetaljiServlet</servlet-name>
        <url-pattern>/PregledKupnjeDetalji</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledKupnjeSviServlet</servlet-name>
        <url-pattern>/PregledKupnjeSvi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikazSpajanjaServlet</servlet-name>
        <url-pattern>/PrikazSpajanja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list>
</web-app>
